﻿@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-pencil"></span> Edit
    </a>
    <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-move"></span> Move
    </a>
    <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-remove-sign"></span> Delete
    </a>
}
else
{
}
