﻿@{
    ViewBag.Title = "Home Page";
}
<h3>@ViewData["Message"]</h3>

<p>Hello, world!</p>
<p>This is where the normal viewer/browser would be directed.</p>
<p>Content served on this page will include, links to subdirectories (folders), text files, and images.</p>

<p>I haven't gotten the application logic to work, but the overview of it will be this:</p>
<ul>
    <li>1. User will either generate or browse to a link such as hostname.com/Browse/*generated number*/</li>
    <li>2. Browse will handle this number by making a request to the database, treating it as an ID.</li>
    <li>3. Browse controller will serve up the standard 4 page templates, "directory/index", "text content", "image content", "admin"</li>
    <li>4. The database query will return with the appropriate content to fill in the body/contents</li>
    <li>5. Edits in admin mode will be accomplished asynchronously via jquery.</li>

</ul>


<ul>
    <li>
        <div class="col-md-6">
            <a asp-controller="Browse" asp-action="Sub">placeholder subdirectory</a>
        </div>
        <div class="col-md-6">@await Html.PartialAsync("_ButtonPartial")</div>
        <br />
    </li>

    <li>
        <div class="col-md-6">
            <a asp-controller="Browse" asp-action="Txt">placeholder text file</a>
        </div>
        <div class="col-md-6">@await Html.PartialAsync("_ButtonPartial")</div>
        <br />
    </li>
    <li>lalalala sample text list item<br /></li>
    <li>
        <div class="col-md-6">
            <a asp-controller="Browse" asp-action="Img">placeholder image</a>
        </div>
        <div class="col-md-6">@await Html.PartialAsync("_ButtonPartial")</div>
        <br />
    </li>
</ul>@await Html.PartialAsync("_ButtonPartial")</div>