﻿
@{
    ViewBag.Title = "Image Page";
}
<div>
    <p>
        image below! (even has a hover text)!
    </p>
    <p>
        <img src="~/images/e3e3e3.png" title="a tasty image for you!" alt="a placeholder 600 by 400">
    </p>
</div>