﻿@{
    ViewBag.Title = "Create DeadDrop";
}
<h3>@ViewData["Message"]</h3>

<p>hello, world!1</p>
<p>This is the landing page for you when you create your own DeadDrop.</p>
<p>(None of this works by the way)</p>

<form action="#" method="post">
    DeadDrop Name:<input type="text" name="boxname" id="boxname"/>
    <br/>
    Admin Password:<input type="password" name="password" id="password"/>
    <br/>
    <input type="submit" value="Create"/>
</form>