﻿@{
    ViewBag.Title = "Sample Box";
}
<h3>@ViewData["Message"]</h3>

<p>Hello, world!2</p>
<p>This is where the admin viewer/browser would be directed.  Nothing much changes except if you login.  (There are plans to merge /browse and /admin)</p>
<p>Content served on this page will include, links to subdirectories (folders), text files, and images.</p>

<ul>
    <li>
        <div class="col-md-6">
            <a asp-controller="Browse" asp-action="Sub">placeholder subdirectory</a>
        </div>
        <div class="col-md-6">@await Html.PartialAsync("_ButtonPartial")</div>
        <br />
    </li>

    <li>
        <div class="col-md-6">
            <a asp-controller="Browse" asp-action="Txt">placeholder text file</a>
        </div>
        <div class="col-md-6">@await Html.PartialAsync("_ButtonPartial")</div>
        <br />
    </li>
    <li>lalalala sample text list item<br /></li>
    <li>
        <div class="col-md-6">
            <a asp-controller="Browse" asp-action="Img">placeholder image</a>
        </div>
        <div class="col-md-6">@await Html.PartialAsync("_ButtonPartial")</div>
        <br />
    </li>
</ul>