﻿@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"].</h2>*@
<h3>@ViewData["Message"]</h3>

<p>DeadDrop is a re-imagining of the text and image sharing website.</p>
<p>Just create a box, add text and images, and share the link!</p>
<p>Anyone with the admin password (which you create) can edit the contents.</p>
<p>Everything is still work in progress, so feel free to use your imagination!</p>
