﻿@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"].</h2>*@
<h3>@ViewData["Message"]</h3>

<address>
    2500 Walton Way<br />
    Augusta, GA 30901<br />
    <abbr title="Phone">P:</abbr>
    607.555.2555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@placeholder.com">Support@placeholder.com</a><br />
    <strong>Comments:</strong> <a href="mailto:Comments@placeholder.com">Comments@placeholder.com</a>
</address>
