﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/DeadDrop-Banner-01.png" alt="Overview" class="img-responsive" />
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        DeadDrop allows you to generate an online directory for text and images!
                        <a class="btn btn-default btn-default" asp-controller="Browse" asp-action="Create">
                            Try It Out
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/DeadDrop-Banner-02.png" alt="Admin" class="img-responsive" />
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        By creating a DeadDrop, you automatically have Admin.  The password lets you share that privilege.
                        <a class="btn btn-default btn-default" asp-controller="Admin" asp-action="Box">
                            Try It Out
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/DeadDrop-Banner-03.png" alt="Edit" class="img-responsive" />
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Upload and Edit your files through our rudimentary in-browser modules.
                        <a class="btn btn-default btn-default" asp-controller="Admin" asp-action="Box">
                            Preview It (Work in Progress)
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What Is This?</h2>
        <ul>
            <li>DeadDrop is a re-imagining of the text and image sharing website.</li>
            <li>Lightweight, Intuitive, Secure</li>
            <li>Two access levels: View, Admin</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>How Secure?</h2>
        <ul>
            <li>Security through Obscurity</li>
            <li>Only those with the link will be able to view your DeadDrop</li>
            <li>No User data is stored</li>
            <li>All DeadDrops will be encrypted (Work in Progress)</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Demo Page Links</h2>
        <ul>
            <li><a asp-controller="Browse" asp-action="Create">Create A New DeadDrop</a></li>
            <li><a asp-controller="Browse" asp-action="Box">View Mockup</a></li>
            <li><a asp-controller="Admin" asp-action="Box">Admin Mockup</a></li>
            <li><a asp-controller="Admin" asp-action="Box">Edit Files</a></li>
        </ul>
    </div>
</div>
